<div class="row health">
  <% @charts.each do |id, chart| %>
    <div class="app col-lg-12" id="<%= id %>">
      <div class="top">
        <h4><%=h chart['title'] %></h4>
        <div class="dynos">
          <% dynos = @dynos[id] %>
          <% if dynos %>
            <% if dynos['web'] %>
              <%= dynos['web']['quantity'] %> Web <%= dynos == 1 ? 'Dyno' : 'Dynos' %> (<%= dynos['web']['size'] %>) | Change to
              <form action="/dynos/<%= id %>/web" method="post" class="form form-inline">
                <input type="text" name="quantity" value="<%= dynos['web']['quantity'] %>" />
                <select name="size">
                  <option value="1x" <% if dynos['web']['size'] == '1x' %>selected<% end %>>1X</option>
                  <option value="2x" <% if dynos['web']['size'] == '2x' %>selected<% end %>>2X</option>
                </select>
                <input type="submit" value="Save">
              </form>
            <% end %>
            <% if dynos['worker'] %>
              <%= dynos['worker']['quantity'] %> Worker <%= dynos == 1 ? 'Dyno' : 'Dynos' %> (<%= dynos['worker']['size'] %>) | Change to
              <form action="/dynos/<%= id %>/worker" method="post" class="form form-inline">
                <input type="text" name="quantity" value="<%= dynos['worker']['quantity'] %>" />
                <select name="size">
                  <option value="1x" <% if dynos['worker']['size'] == '1x' %>selected<% end %>>1X</option>
                  <option value="2x" <% if dynos['worker']['size'] == '2x' %>selected<% end %>>2X</option>
                </select>
                <input type="submit" value="Save">
              </form>
            <% end %>
          <% end %>

        </div>
        <div style="clear:both;"></div>
      </div>
      <% chart_id = "charts-#{id}" %>
      <div id="<%= chart_id %>" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#<%= chart_id %>" data-slide-to="0" class="active"></li>
          <li data-target="#<%= chart_id %>" data-slide-to="1"></li>
          <li data-target="#<%= chart_id %>-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active loading">
            <iframe class="chart" src="https://heroku.newrelic.com/public/charts/<%= chart['30mins'] %>" width="500" height="300" scrolling="no" frameborder="no"></iframe>
          </div>
          <div class="item loading">
            <iframe class="chart" src="https://heroku.newrelic.com/public/charts/<%= chart['12hours'] %>" width="500" height="300" scrolling="no" frameborder="no"></iframe>
          </div>
          <div class="item loading">
            <iframe class="chart" src="https://heroku.newrelic.com/public/charts/<%= chart['7days'] %>" width="500" height="300" scrolling="no" frameborder="no"></iframe>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#<%= chart_id %>" data-slide="prev">
          <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#<%= chart_id %>" data-slide="next">
          <span class="icon-next"></span>
        </a>
      </div>
    </div>
  <% end %>
</div>

